@model Entity.Not

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Silmek istediğinize emin misiniz ?</h3>
<div>
    <h4>Not</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BegeniSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Kitap Notları Listesine Geri Dön", "Index")
        </div>
    }
</div>
