@model IEnumerable<Entity.Not>

@{
    ViewBag.Title = "Index";
}

<h2>Kitap Notları</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BegeniSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.NotID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.NotID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.NotID })
        </td>
    </tr>
}

</table>
